:root{
    --white-color : #fff;
    --none-color : rgba(0,0,0,0);
}

#login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#login-form #name
{
    font-size: 30px;
    color: var(--white-color);
}

#login-form button{
    background-color: var(--none-color);
    border: none;
    text-align: center;
    color: var(--white-color);
}